body {
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.select-box {
  position: absolute;
}

.grids {
  width: 400px;
  height: 400px;
  display: grid;
  border: 1px solid black;
}

.grids__item {
  border: 1px solid black;
}

.grids__item--highlight {
  background: cyan;
}
