body {
  margin: 0;
  font-family: sans-serif;
}

.wrapper {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 16px;
}

.dices {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.dice {
  width: 64px;
  height: 64px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 16px;
  padding: 8px;
}

.dots {
  position: relative;
  height: 100%;
}

.dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 50%;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.center-left {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.center-right {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
