body {
  font-family: sans-serif;
}

:root {
  --chart-width: 500px;
  --chart-height: 400px;
  --axis-color: darkred;
  --bar-color: violet;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
}

.chart {
  width: var(--chart-width);
  height: var(--chart-height);
  display: flex;
}

.chartYAxis {
  width: 40px;
  display: flex;
  flex-direction: column;
}

.chartYAxisItems {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  border-right: 1px solid var(--axis-color);
  margin-bottom: 8px;
  align-items: center;
}

.chartYAxisItem {
  flex-grow: 1;
  transform: translateY(-8px);
}

.chartYAxisZero {
  text-align: center;
  transform: translateY(-16px);
}

.chartMainBody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chartMainBodyBars {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  border-bottom: 1px solid var(--axis-color);
  gap: 16px;
  padding: 0 16px;
}

.chartMainBodyBar {
  background-color: var(--bar-color);
  flex-grow: 1;
}

.chartXAxisItems {
  display: flex;
  gap: 16px;
  justify-content: space-around;
  padding: 0 16px;
}

.chartXAxisItem {
  flex-grow: 1;
  flex-basis: 0%;
  text-align: center;
}
